<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <img src="https://cdn-images-1.medium.com/max/1600/1*AeusenIxwdHQQ8089N-K3w.jpeg" alt="" style="width:250px;height:200px;">
    <br>
    <b>{{ detailed_service.name }}</b>
    <p>Năm sinh: {{ detailed_service.yob }} </p>
    <p>Chiều cao: {{ detailed_service.height }}</p>
    <p>Số điện thoại: {{ detailed_service.phone }}</p>
    <p>Địa chỉ: {{ detailed_service.address }}</p>
    <p>Mô tả: {{ detailed_service.description }}</p>
    <p>Số đo: {{ detailed_service.measurements }}</p>
</body>
</html>