<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mùa đông không lạnh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Mùa đông không lạnh</h1>
    <a href="{{ url_for("search", g=0) }}">Này thì gái</a>
    <br>
    <a href="{{ url_for("search", g=1) }}">Này thì trai</a>
    <br>
    <a href="{{ url_for("customer") }}">Này thì khách</a>
    <br>
    <a href="{{ url_for("admin") }}">Cụ nào thích quản vào đây</a>
</body>
</html>