<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Thích thì sửa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        <h2>Update Service</h2>
        <form method="POST">
            <label>Name</label>
            <input type="text" name="name" value={{ service_to_update.name }}>
            <br>
            <label>Yob</label>
            <input type="text" name="yob" value={{ service_to_update.yob }}>
            <br>
            <label>Phone number</label>
            <input type="text" name="phone" value={{ service_to_update.phone }}>
            <br>
            <label>Gender</label>
            <input type="radio" name="gender" value=1>Nam</input>
            <input type="radio" name="gender" value=0>Nữ</input>
            <br>
            <input type="submit" value="Sửa">
        </form>
</body>
</html>