<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BMI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    BMI = {{ BMI }}.
    <br>
    {% if {{ BMI }} < 16 %}
        You are severely underweight.
    {% elif 16 < {{ BMI }} < 18.5 %}
        You are underweight.
    {% elif 18.5 < {{ BMI }} < 25 %}
        You are normal.
    {% elif 25 < {{ BMI }} < 30 %}
        You are overweight.
    {% else %}
        You are obese.
    {% endif %}

</body>
</html>